<header class="header-electronico">
    <div class="logo-container">
      <h1>
        <span class="logo-tech">Mundo</span>
        <span class="logo-green"> Electrónico</span>
      </h1>
    </div>
    <div class="header-actions">
      <button class="cart-button" routerLink="/carrito">🛒 Ver Carrito</button>
      <button class="cart-button" routerLink="/productos">Ver Productos</button>
      <button class="cart-button" routerLink="/login">Iniciar Sesión</button>
      <button class="cart-button" routerLink="/registrarse">Registrarse</button>
    </div>
  </header>
