<div class="carrito-container">

  <main class="contenido-carrito">
    <button class="btn-volver" (click)="volverAlCatalogo()">← Volver al Catálogo</button>

    <div class="tabla-pedido">
     @for (item of itemsCarrito; track item.Id) {
        <app-pokemon 
          vista="carrito"
          [datos]="item"
          [cantidad]="item.Cantidad"
          [subtotal]="item.Subtotal"
          (onIncrementar)="incrementarCantidad($event)"
          (onDecrementar)="decrementarCantidad($event)"
          (onEliminar)="eliminarItem($event)">
        </app-pokemon>
} @empty {
  <div class="carrito-vacio">
    <p>No agregaste productos aún</p>
  </div>
}

      @if (itemsCarrito.length > 0) {
        <div class="resumen-total">
          <span>Total estimado:</span>
          <span class="total-precio">${{ total }}</span>
        </div>
        <button class="btn-finalizar" (click)="finalizarCompra()">Confirmar Pedido</button>
      }
    </div>
  </main>
</div>