<div class="carrito-container">

  <main class="contenido-carrito">
    <button class="btn-volver" (click)="volverAlCatalogo()">← Volver al Catálogo</button>

    <div class="tabla-pedido">
      @for (item of itemsCarrito; track item.ItemId) {
        <div class="item-fila">
          <div class="item-info">
            <h3>{{ item.Nombre }}</h3>
            <p>Categoría: {{ item.Clasificacion }}</p>
          </div>
          <div class="item-precio-cant">
            <div>Cant: {{ item.Cantidad }}</div>
            <div>${{ item.Subtotal }}</div>
          </div>
        </div>
      } @empty {
        <div class="carrito-vacio">
          <p>No agregaste productos aún</p>
        </div>
      }

      @if (itemsCarrito.length > 0) {
        <div class="resumen-total">
          <span>Total estimado:</span>
          <span class="total-precio">${{ total }}</span>
        </div>
        <button class="btn-finalizar" (click)="finalizarCompra()">Confirmar Pedido</button>
      }
    </div>
  </main>
</div>