<div class="tienda-container">
  
  <header class="header-electronico">
    <div class="logo-container">
      <h1>
        <span class="logo-tech">Mundo</span>
        <span class="logo-green"> Electrónico</span>
      </h1>
    </div>
   <div class="header-actions" style="display: flex; gap: 10px;"> 
    <button class="cart-button" (click)="irAlRegistro()">👤 Crear Cuenta</button> 
    <button class="cart-button" (click)="irAlCarrito()">🛒 Ver Pedido</button>
   </div>
  </header>

  <main class="contenido">
    <h2 class="titulo-seccion">Catalogo</h2>

    <div class="productos-grid">
      @for (producto of listaProductos; track producto.Id) {
        <div class="producto-card">
          <div>
            <h3>{{ producto.Nombre }}</h3>
            <p class="descripcion">{{ producto.Descripcion }}</p>
            <span class="categoria">{{ producto.Clasificacion }}</span>
          </div>
          
          <div class="card-footer">
            <span class="precio">${{ producto.Precio }}</span>
            <button class="btn-comprar" (click)="agregarProducto(producto)">Agregar 🛒</button>
          </div>
        </div>
      } @empty {
        <p class="vacio-mensaje">Buscando productos en el almacén...</p>
      }
    </div>
  </main>

</div>